{
    "root": true,
    "globals": {
        "es6": true
    },
    "plugins": [
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "prettier/prettier": [
            2,
            {
              "singleQuote": true,
              "trailingComma": "all"
            }
        ]
    }
}