
// Body
$body-bg: #f2f2f2;//#f8f9fa;

// Colors
$primary: #82c502;
$secondary: #adb5bd;

// Typography
//$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Background gradient
$enable-gradients: true;
