
// Body
$body-bg: #f2f2f2;//#f8f9fa;

// Colors
$primary: #343a40;//#82c502;
$secondary: #f1f1f1;//#adb5bd;

// Typography
//$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Background gradient
$enable-gradients: true;

// Dropdown
$enable-caret : false;
