// Variables
@import "variables";

// Bootstrap
@import '~bootstrap';


.v-center {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.img-full{
    min-height: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 10em;
}

@include media-breakpoint-down(sm) {
    .img-full{
        max-height: 100%;
    }
}


.blinker {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.news-ended {
    position: sticky;
    bottom: 0;
    align-self: flex-end;
}

article .border-bottom{
    border-bottom: none!important;
}

svg{
    vertical-align: middle;
    border-style: none;
}


.logo{
    height: 50px;
}

/*
@include media-breakpoint-down(sm) {
    .logo{
        height: 40px!important;
    }
}
*/
