// Variables
@import "variables";

// Bootstrap
@import '~bootstrap';


.v-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-full{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blinker {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.news-ended {
    position: sticky;
    bottom: 0;
    align-self: flex-end;
}

article .border-bottom{
    border-bottom: none!important;
}
